

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  border-bottom: 1px solid rgba(black, 0.38);
  height: auto;
  position: fixed;
  z-index: 777;
  top: 0;
  left: 0;
  &__left {
    display: flex;
    align-items: center;
    font-size: 8px;
    margin-right: 16px;

  }
}

.search {
  position: relative;
  width: 360px;
  max-width: 100%;
  &__input {
    display: block;
    width: 100%;
    outline: none;
    line-height: 30px;
    padding: 0 40px 0 8px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #25202075;
  }
  &__button {
    position: absolute;
    top: 3px;
    right: 8px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
  }

}

.menu {
  margin-right: 16px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.logo {
  text-decoration: none;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__item {
    margin-left: 16px;
  }
  &__icon {
    margin-left: 16px;
    background: center / cover;
    box-shadow: none;
    img {
      border-radius: 50%;
    }
  }
}

.admin {
  margin-left: 16px;
  padding: 8px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.38);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  line-height: 1;
  box-sizing: border-box;
}
