<mat-toolbar class="header">
  <div class="header__left">
    <button class="menu" (click)="toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/" class="logo">
      <h1 class="">nahhule</h1>
    </a>
  </div>
  <form class="search">
    <input
      class="search__input"
      type="text"
      placeholder="検索"
      autocomplete="off"
    />
    <button class="search__button">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <div>
    <button
      class="btns__item"
      mat-flat-button
      color="primary"
    >
      ログイン
    </button>

      <button
        class="btns__item"
        mat-flat-button
        color="primary"
        [mat-menu-trigger-for]="addition"
      >
        追加
      </button>
    <mat-menu #addition="matMenu">
      <button
        mat-menu-item
      >
        モバイル決済
      </button>
      <button
        mat-menu-item
      >
        電子マネー
      </button>
      <button
        mat-menu-item
      >
        クレジットカード
      </button>
      <button
        mat-menu-item
      >
        ポイントカード
      </button>
    </mat-menu>


    <button
      class="btns__icon"
      mat-mini-fab
    ></button>
    <mat-menu #avatar="matMenu">
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button mat-menu-item>
        <mat-icon>help</mat-icon>
        <span>使い方</span>
      </button>
      <button mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>広告を剥がす</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #default>
    <button
      class="btns__item"
      mat-flat-button
      color="primary"
    >
    ログイン
    </button>
  </ng-template>
</mat-toolbar>
