<mat-list dense>
  <mat-nav-list>
    <a mat-list-item routerLink="">
      <div class="icon">

      </div>
      <p>モバイル決済</p></a
    >
    <a mat-list-item routerLink="">
      <div class="icon">

      </div>
      <p>電子マネー</p>
    </a>
    <a mat-list-item routerLink="">
      <div class="icon">

      </div>
      <p>クレジットカード</p>
    </a>
    <a mat-list-item routerLink="">
      <div class="icon">

      </div>
      <p>ポイントカード</p>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="">比較する</a>
    <a mat-list-item routerLink="">キャンペーン情報</a>
  </mat-nav-list>
</mat-list>
